<mat-card class="login-card">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username" autocomplete="username">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" autocomplete="current-password">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="full-width">Ingresar</button>
  </form>
</mat-card>